header{
    margin-bottom:50px;
    text-align: center;
}
.add{
    text-align: center;
}
.content{
    border-bottom:solid 1px gray;
    padding-bottom:40px;
}
.table-tab{
    margin-top:50px;
}
.button-event{
    text-align: center;
}