.col-md-3 {
    height: 1000px;
    border-right: solid 1px darkgray;
}
.image-1 {
    width: 120px;
    margin-top: 18px;
    margin-left: 110px;
}
.menu{
    width: 100%;
    height: 114px;
    margin-left: -15px;
}
.banner {
    float:left;
    padding: 18px 57px;
    width: 40%;
    height: 100%;
}
.tphcm {
    font-weight: 600;
    font-size: 37px;
    float: left;
    font-family: cursive;
}
.nlu {
    margin-left: -22px;
    float: left;
    margin-right: 5px;
    font-size: 31px;
    font-family: cursive;
    color: dimgray;
    padding-top: 5px;
}
.menuItem {
    width: 60%;
    height: 100%;
    float: left;
}
.list-inline-o{
    display:inline-flex;
}
.list-inline-o li {
    padding: 30px;
    font-size: 21px;
}
.list-inline-o li a {
    color: darkslategray;
}
.list-inline-o li a:hover {
    opacity:0.5;
    text-decoration:none;
}
.list-inline-a li a{
    text-align: center;
    padding: 16px;
    font-size:13px;
    font-weight: 500;
    color:darkslategray;
}
.list-inline-a li a:hover{
    text-decoration:none;
    opacity:0.5;
}
.list-inline-a li {
    text-align: center;
    padding-top: 30px;
}
.task {
    margin-top: 140px;
}
.content{
    border-top: solid 1px gray;
    margin-top: 5px;
    margin-left: -2px;
    margin-right: 24px;
    width:100%;
}
.image-content-a {
    margin-left: 20px;
    padding-top:30px;
    text-align:center;
    width: 48%;
    float: left;
}
.image-conten-a1{
    border: solid 2px gray ;
    text-align:center;
    width:100%;
}
.image-content-a2{
    border: solid 2px gray ;
    margin-top: 30px;
    text-align:center;
    width:100%;
}

.image-content-b{
    padding-top:30px;
    text-align:center;
    width: 48%;
    float: right;
}
img.img-fluid {
    width: 100%;
}
.image-content-b2{
    border: solid 2px gray ;
    margin-top: 30px;
    text-align:center;
    width:100%;
}
.image-content-b1{
    border: solid 2px gray ;
    margin-top: -1px
    text-align:center;
    width: 100%;
}
